include ./layout/head.pug
body
  //if lt IE 9
    p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!

  div.wrapper
    include ./layout/header.pug
    .main.container
      br
        
      h3 Groups not approved before
      br
      p.tagline
        | If these groups are not approved before, then add them to Firebase DB <code>whitelistGroups</code> or <code>blacklist{PROVIDER}</code>.
      
      if groups.length > 0
        pre
          each group in groups
            code {
            br
            code    "group_id": #{group.group_id},
            br
            code    "group_name": "#{group.group_name}",
            br
            code    "group_url": "#{group.group_url}"
            br
            code },
      else
        pre All events are in the approved groups!

      h3 Login
      div#auth0(style='width: 320px; margin: 40px auto;')
        
    footer
      .container
        <p>Checkout more cool events and people in startup, arts and tech with <br><a href="http://thelist.sg/">thelist.sg</a>, <a href="http://connections.sg/">connections.sg</a>, <a href="http://hackerspace.sg/calendar/hackerspacesg-events/">hackerspace</a>, <a href="http://bhappening.wordpress.com/">bhappening</a>, <a href="http://www.techinasia.com/tech-startup-events/">tech in asia</a></p>

    ul.social
      li
        a(href='https://twitter.com/webuildsg')
          span.footer-twitter
        p Twitter
      li
        a(href='http://www.facebook.com/webuildsg')
          span.footer-facebook
        p Facebook
      li
        a(href='https://github.com/webuildsg')
          span.footer-github
        p GitHub
      li
        a(href='https://webuild.sg/cal')
          span.footer-calendar
        p Calendar
      li
        a(href='https://feeds.feedburner.com/WeBuildLive')
          span.footer-rss
        p RSS
      li
        a(href='https://itunes.apple.com/us/podcast/we-build-sg-live/id713804010')
          span.footer-itunes
        p iTunes
                                    
  script(src='public/js/auth0-widget.min.js')
  script(type='text/javascript').
    var widget = new Auth0Widget({domain: '#{auth0.domain}', clientID: '#{auth0.clientId}', callbackURL: window.location.origin + '/callback'});
    widget.signin({container: 'auth0', connections: ['facebook'], chrome: true, scope: 'openid profile user_groups user_events'},function(){
      var d = document, err = d.querySelector('.a0-avatar'), elem = d.createElement('div');
      elem.innerText = '#{error}' ? 'Unauthorized user!' : '#{user}' ? 'Thanks #{user}!' : '';
      elem.style.color = '#{error}' ? 'red' : 'MediumSeaGreen';
      err.parentNode.appendChild(elem);
    });
