include ./layout/head.jade
body
  //if lt IE 9
    p.chromeframe Your browser is <em>ancient!</em> <a href='http://browsehappy.com/'>Upgrade to a cool new browser</a> to experience this site!

  div.wrapper
    header
      .container
        h1 we build!
        h2 Exploring the tech scene in Singapore? Connect with people who are&nbsp;
          ul.people
            li ...
            li designers
            li developers
            li makers
    .main.container
      div#auth0(style='width: 320px; margin: 40px auto;')

  script(type='text/javascript', src='https://cdn.auth0.com/w2/auth0-widget-4.0.min.js')
  script(type='text/javascript').
    var widget = new Auth0Widget({domain: '#{auth0.domain}', clientID: '#{auth0.clientId}', callbackURL: window.location.origin + '/callback'});
    widget.signin({container: 'auth0', connections: ['facebook'], chrome: true, scope: 'openid profile user_groups user_events'},function(){
      var d = document, err = d.querySelector('.a0-avatar'), elem = d.createElement('div');
      elem.innerText = #{error} ? 'Unauthorized user!' : '#{user}' ? 'Thanks #{user}!' : '';
      elem.style.color = #{error} ? 'red' : 'MediumSeaGreen';
      err.parentNode.appendChild(elem);
    });
