a.live(href="https://live.webuild.sg")
  h3 Catch We Build LIVE
  p A live Internet talk show with geeks in town on building, learning and sharing!
  p.countdown
    | in <strong>#{countdownTime.days}</strong> days <strong>#{countdownTime.hours}</strong> hours <strong>#{countdownTime.minutes}</strong> minutes <strong>#{countdownTime.seconds}</strong> seconds
  p#livetime.time=formattedTime
